:root {
    --primary: #11998e;
    --secondary: #38ef7d;
    --white: #fff;
    --gray: #0b1b77;
}

.wrapper {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.1rem;
    background: linear-gradient(to right top, #6dd5fa, #2980b9);
}

.section {
    width: 100%;
    max-width: 350px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    font-size: 20px;
    padding: 2rem;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #0b1b77;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.formGroup {
    position: relative;
    margin: 30px 0;
    padding: 10px 0 0;
    font-size: 20px;
}

.formField {
    box-sizing: border-box;
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 3px solid var(--gray);
    outline: 0;
    font-size: 1.1rem;
    color: var(--white);
    padding: 20px 0 4px 0;
    background: transparent;
    transition: border-color 0.2s;
    max-height: 2.5rem;
    font-size: 20px;
}

.formField::placeholder {
    color: transparent;
}

.formField:placeholder-shown~.formLabel {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--gray);
    font-size: 20px;
}

.formField:focus {
    padding-bottom: 6px;
    border-bottom: 3px solid transparent;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--primary), var(--secondary));
    border-image-slice: 1;
}

.formField:focus~.formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--primary);
    font-weight: 700;
}

.formField:required,
.formField:invalid {
    box-shadow: none;
}

.form {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: calc(499px - 4rem);
    overflow: hidden;
}

.button {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background: #1db954;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background 0.3s ease;
    align-self: center;
    padding: 0.5rem 2.6rem;
}

.button:hover {
    background: #0b1b77;
}

.inputError {
  color: #e74c3c;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  position: absolute;
}

.signUpLink {
  color: #0077ff !important;
  font-weight: bold;
  text-decoration: none;
  margin-left: 0.3rem;
  transition: color 0.2s ease;
}

.signUpLink:hover {
  color: #ffffff !important;
  text-decoration: underline;
}

.errmsg {
    background: #ff4d4d;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}