@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: transparent;
    width: 30%; 
    margin: 30px auto 0 auto;
}

.metronome {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    justify-content: space-between;
}

.bpmDisplay {
    width: 100%;
    text-align: center;
    color: #fa545c;
    font-weight: bold;
}

.tempo {
    font-size: 4em;
}

.bpm {
    font-size: 0.8em;
    text-transform: uppercase;
    text-align: center;
}

.tempoSettings {
    display: flex;
    justify-content: space-between;
}

.adjustTempoBtn {
    width: 30px;
    height: 30px;
    font-size: 40px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.adjustTempoBtn:hover {
    background: #fa545c;
    color: #fff;
}

.decreaseTempo {
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
    background-color: #ff656c;
}

.increaseTempo {
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
    background-color: #ff656c;
}

.slider {
    background-color: transparent;
    width: 70%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fa545c;
    cursor: pointer;
    margin-top: -8px;
}

.slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fa545c;
    cursor: pointer;
    border: none;
}

.slider:focus {
    outline: none;
}

.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
}

.slider::-moz-range-track {
    width: 100%;
    height: 1px;
    background: #ddd;
}

.startStop {
    width: 50px;
    height: 50px;
    font-size: 0.7em;
    text-align: center;
    background: #fa545c;
    border-radius: 50%;
    color: #fff;
    line-height: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.startStop:hover {
    background: #ff656c;
}

.measures {
    display: flex;
    justify-content: center;
}

.stepper:hover {
    background: #ff656c;
    color: #fff;
}

.addBeats {
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
    background-color: #ff656c;
}

.subtractBeats {
    line-height: 21px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
    background-color: #ff656c;
}

.beatsPerMeasureText {
    text-align: center;
    font-size: 0.8em;
    text-transform: uppercase;
}

.measureCount {
    font-size: 1.1rem;
}

