.searchContainer {
  width: 100%;
  max-width: 400px; 
  margin-left: 0;
}

.inputWrapper {
  display: flex;
  align-items: center; /* pentru aliniere verticală corectă */
  gap: 10px;            /* spațiu între iconiță și input */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px 10px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.inputWrapper input {
  width: 100%;
  padding: 8px 12px 8px 36px; /* padding stânga mărit pentru iconiță */
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  box-sizing: border-box;
}

.resultsList {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-top: 8px;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  padding: 8px;
}

.result-item {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.result-item:last-child {
  border-bottom: none;
}

.result-item:hover {
  background-color: #eaeaea;
}

.searchIcon {
  margin-right: 5px;
  font-size: 21px;
  color: #6b7280;
}
