.wrapper {
    padding-top: 50px;
    background-image: url('/profile.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: "Spectral", serif;
    overflow-y: auto;
}

.courseCardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1200px;
    margin: 1.7rem auto;
    gap: 1.7rem;
    padding: 0 1rem;
    justify-items: center;
    font-family: "Spectral", serif;
}

.courseCard {
    width: 250px;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s ease;
    background-color: #d1e6e6;
}

.courseCard:hover {
    transform: translateY(-4px);
}

.cardHeader {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.courseTitle {
    font-size: 1.3rem;
    color: #007bff;
    cursor: pointer;
    margin: 0;

    transition: color 0.2s ease;
}

.courseTitle:hover {
    color: #0b1b77;
    text-decoration: underline;
}

.cardDetails {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #333;
    font-weight: 600;
    font-family: "Spectral", serif;
}

.cardDetails strong {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #0b1b77;
    font-weight: 800;
    font-family: "Spectral", serif;
}

.cardActions {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.deleteButton {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.4rem 0.8rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.deleteButton:hover {
    background-color: #c82333;
}

.courseActivity {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
}

.courseActivity button {
    padding: 0.7rem 2rem;
    font-size: 1rem;
    cursor: pointer;
}

.courseActivity button:hover {
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.5);
}

.instrumentButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1rem;
    gap: 3rem;
}

.instrumentButton {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.75rem 2rem;
    border-radius: 1rem;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.instrumentButton:hover {
    color: white;
    transform: translateY(-2px);
}

.instrumentButton.selected {
    background-color: #5866b8;
    box-shadow: 0 4px 12px rgba(0, 86, 179, 0.6);
}

.title {
    margin-top: 10px;
    margin-bottom: 1.5rem;
    text-align: left;
    font-size: 2.7rem;
    font-weight: 700;
    color: #e00d3b;
    border-bottom: 2px solid #0b1b77;
    padding-bottom: 4px;
    display: block;
    width: fit-content;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 3rem;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -45px;
    gap: 1rem;
    margin-left: -10%;
}

.pagination button {
    padding: 0.5rem 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #d1e6e6;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: "Spectral", serif;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination button:hover:not(:disabled) {
    background-color: #5866b8;
    color: white;
    border-color: #5866b8;
}

.inlineContainer {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    max-width: 100%;
    margin-bottom: 0.1rem;
    margin-left: 10%;
}

.buttonsRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 3px auto;
}

.buttonsRow button {
    font-family: "Spectral", serif;
    font-weight: 700;
    background-color: #d1e6e6;
    color: #0b1b77;
}

.leftButtons {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.leftButtons .selected,
.rightButtons button:hover,
.leftButtons button:hover {
    background-color: #5866b8;
    color: white;
}

.rightButtons {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-right: 11%;
}

.searchContainer {
    width: 25%;
}

.selectDropdown {
    width: 200px;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 6px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    margin-left: 10%;
    margin-top: 5px;
    border: 2px solid #ccc;
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px 16px;
    font-family: "Spectral", serif;
    font-weight: 700;
}

.selectDropdown option {
    font-weight: 700;
}

.selectDropdown:hover {
    border-color: #1451a3;
}

.selectDropdown:focus {
    border-color: #2980b9;
    box-shadow: 0 0 8px rgba(41, 128, 185, 0.6);
}

.noDataMessage {
    max-width: 250px;
    background-color: #d1e6e6;
    padding: 1rem 2rem;
    border-radius: 0.75rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.5);
    text-align: center;
}

.cardActions {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    min-height: 15px;
}