.share-btn {
    position: absolute;
    top: 0;
    right: 20px;
    padding: 10px 20px;
    background-color: #2cc78e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.share-btn:hover {
    background-color: #88c31b;
}

.custom-dialog {
    width: 70%;
    max-width: 800px;
    height: 70%;
    max-height: 600px;
    margin: 0;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: auto;
}